h2 {
  color: navy;
  text-align: center;
}
h1 {
  text-align: center;

}
h3 {
  color: gray;
  opacity: 80%;
  text-align: center;
}
body {
  background-color: antiquewhite;
}
img {
  align-self: center;
}

.dance {
  width: 100;
}



